<h2>Todo</h2>

<div class="container">

    <fieldset class="form-group">
        <label>Description</label>
        <input [(ngModel)]="todo.desc" class="form-control" type="text" name="desc" required="required">
    </fieldset>
    
    <fieldset>
        <label>Target Date</label>
        <input [ngModel]="todo.targetDate | date: 'yyyy-MM-dd' " 
        (ngModelChange)="todo.targetDate = $event"
        class="form-control" type="date" name="targetDate" required="required">
    </fieldset>
<br>
    <button class="btn btn-success" (click)="saveTodo()">Save</button>
</div>